{% extends "header.html" %}

{% block body %}
<section id="hero" class="contact section-bg" style="border:0px solid blue;">

        <div class="container container-register-form" style="border:0px solid green;" >
                
                    <form action="createUser"  method="post"  class="my-form"
                    oninput='confirm.setCustomValidity(confirm.value != password.value ? "Passwords do not match." : "")'>
                      <h4>Create New Account </h4>
                    		<br>
                      
                      <div class="row">
                        <div class="col-md-6 form-group">
                          <input type="text" name="fname" class="form-control" id="fname" placeholder="First Name" required
                          oninvalid="this.setCustomValidity('Please Enter First Name')" oninput="setCustomValidity('')">
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                          <input type="text" class="form-control" name="lname" id="lname" placeholder="Last Name" required
                          oninvalid="this.setCustomValidity('Please Enter Last Name')" oninput="setCustomValidity('')">
                        </div>
                      </div>
                      <div class="col-md-12 form-group mt-3">
                          <input type="text" class="form-control" name="email" id="email" placeholder="Email" required
                          oninvalid="this.setCustomValidity('Please Enter Valid Email Id')" oninput="setCustomValidity('')">
                        </div>
                      
                      <div class="form-group mt-3">
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password" required
                        oninvalid="this.setCustomValidity('Please Enter Valid Password')" oninput="setCustomValidity('')">
                          <!--<small id="passwordHelpInline" class="text-muted justify-content-start">Must be 8-20 characters long.</small>-->
                        
                      </div>
                      <div class="form-group mt-3">
                        <input type="password" class="form-control" name="confirm" id="confirm" placeholder="Confirm Password" required
                        oninvalid="this.setCustomValidity('Please Confirm Password')" oninput="setCustomValidity('')">
                      </div>
                      
                      <br>
                      <div class="text-center"><button type="submit">Register</button></div>
                    </form>
                    
            
                
           
        </div>

</section>



{% endblock %}