{% extends "header.html" %}

{% block body %}
<section id="search-sec" class="padd-section text-center">

    <div class="container">
        
            <h4 class="text-primary text-center">Search Results</h4>
            
       <br />

        <div class="row" data-aos="fade-up" data-aos-delay="100">

            <div class="col-md-6 col-lg-3">
                <div class="feature-block">
                    <img src="/static/img/boy1.jpg" alt="img" class="rounded-circle">
                    <h4>John Doe</h4>
                    <h6>Age: 12 years</h6>
                    <a href="#">View</a>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="feature-block">
                    <img src="/static/img/girl1.jpg" alt="img" class="rounded-circle">
                    <h4>Jane Doe</h4>
                    <h6>Age: 15 years</h6>
                    <a href="#">View</a>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="feature-block">
                    <img src="/static/img/boy1.jpg" alt="img" class="rounded-circle">
                    <h4>John Doe</h4>
                    <h6>Age: 12 years</h6>
                    <a href="#">View</a>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="feature-block">
                    <img src="/static/img/girl1.jpg" alt="img" class="rounded-circle">
                    <h4>Jane Doe</h4>
                    <h6>Age: 15 years</h6>
                    <a href="#">View</a>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="feature-block">
                    <img src="/static/img/boy1.jpg" alt="img" class="rounded-circle">
                    <h4>John Doe</h4>
                    <h6>Age: 12 years</h6>
                    <a href="#">View</a>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="feature-block">
                    <img src="/static/img/girl1.jpg" alt="img" class="rounded-circle">
                    <h4>Jane Doe</h4>
                    <h6>Age: 15 years</h6>
                    <a href="#">View</a>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="feature-block">
                    <img src="/static/img/boy1.jpg" alt="img" class="rounded-circle">
                    <h4>John Doe</h4>
                    <h6>Age: 12 years</h6>
                    <a href="#">View</a>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="feature-block">
                    <img src="/static/img/girl1.jpg" alt="img" class="rounded-circle">
                    <h4>Jane Doe</h4>
                    <h6>Age: 15 years</h6>
                    <a href="#">View</a>
                </div>
            </div>

        </div>
    </div>
</section><!-- End Features Section -->
{% endblock %}